<!DOCTYPE RCC><RCC version="1.0">
<qresource>
    <file alias="arrows-round.svg">resources/arrows-round.svg</file>
    <file alias="note-sticky.svg">resources/note-sticky.svg</file>
    <file alias="globe.svg">resources/globe.svg</file>
    <file alias="times.svg">resources/times.svg</file>
    <file alias="python.svg">resources/python.svg</file>
    <file alias="headphones.svg">resources/headphones.svg</file>
    <file alias="settings.svg">resources/settings.svg</file>
    <file alias="repeat.svg">resources/repeat.svg</file>
    <file alias="repeat-on.svg">resources/repeat-on.svg</file>
    <file alias="book.svg">resources/book.svg</file>
</qresource>
</RCC>
